<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.facebookconnect"
    version="0.3.2">

    <name>Facebook Connect</name>
    <description>This is my verison the official plugin for Facebook in Apache Cordova/PhoneGap!</description>
    <license>Apache 2.0</license>
    
    <js-module src="www/cdv-plugin-fb-connect.js" name="cdv-plugin-fb-connect">
        <clobbers target="FBConnect" />
    </js-module>
    <js-module src="www/facebook-js-sdk.js" name="facebook-js-sdk">
        <clobbers target="FB" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="org.apache.cordova.facebook.Connect" value="org.apache.cordova.facebook.ConnectPlugin"/>
        </config-file>

        <!-- res files -->
        <source-file src="src/android/facebook/res/drawable/close.png" target-dir="res/drawable" />
        <source-file src="src/android/facebook/res/drawable/facebook_icon.png" target-dir="res/drawable" />
        <source-file src="src/android/facebook/res/drawable-hdpi/close.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/facebook/res/drawable-hdpi/facebook_icon.png" target-dir="res/drawable-hdpi" />
        <source-file src="src/android/facebook/res/drawable-ldpi/close.png" target-dir="res/drawable-ldpi" />
        <source-file src="src/android/facebook/res/drawable-ldpi/facebook_icon.png" target-dir="res/drawable-ldpi" />
        <source-file src="src/android/facebook/res/drawable-xhdpi/close.png" target-dir="res/drawable-xhdpi" />

        <!-- cordova plugin src files -->
        <source-file src="src/android/ConnectPlugin.java" target-dir="src/org/apache/cordova/facebook" />

        <!-- facebook src files -->
        <source-file src="src/android/facebook/AsyncFacebookRunner.java" target-dir="src/com/facebook/android" />
        <source-file src="src/android/facebook/DialogError.java" target-dir="src/com/facebook/android" />
        <source-file src="src/android/facebook/Facebook.java" target-dir="src/com/facebook/android" />
        <source-file src="src/android/facebook/FacebookError.java" target-dir="src/com/facebook/android" />
        <source-file src="src/android/facebook/FbDialog.java" target-dir="src/com/facebook/android" />
        <source-file src="src/android/facebook/Util.java" target-dir="src/com/facebook/android" />

    </platform>

    <!-- ios -->
    <platform name="ios">
       
       

        <!-- system frameworks -->
        <framework src="libsqlite3.dylib" />
        <framework src="Social.framework" weak="true" />
        <framework src="Accounts.framework" weak="true" />
        <framework src="AdSupport.framework" weak="true" />
        <framework src="Security.framework" weak="true" />

    </platform>
</plugin>
